<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :nb_victory %><br />
    <%= f.number_field :nb_victory %>
  </div>
  <div class="field">
    <%= f.label :nb_defeat %><br />
    <%= f.number_field :nb_defeat %>
  </div>
  <div class="field">
    <%= f.label :total_points %><br />
    <%= f.number_field :total_points %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
