<h1>Listing tournaments</h1>

<table class="table table-bordered table-hover">
  <thead>
    <th>Name</th>
    <th>Place</th>
    <th>Nb players max</th>
    <th></th>
    <% if can? :update, @tournaments %>
        <th></th>
    <% end %>
    <% if can? :destroy, @tournaments %>
        <th></th>
    <% end %>
  </thead>

  <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= tournament.place %></td>
        <td><%= tournament.nb_players_max %></td>
        <td><%= link_to 'Show', tournament %></td>
        <% if can? :update, @tournaments %>
            <td><%= link_to 'Edit', edit_tournament_path(tournament) %></td>
        <% end %>
        <% if can? :destroy, @tournaments %>
            <td><%= link_to 'Destroy', tournament, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br/>
<% if can? :create, @tournaments %>
    <%= link_to 'New Tournament', new_tournament_path %>
<% end %>