%h1 Listing tournaments
- @places = []
- Tournament.all.each do |tournoi|
  - @places.push(tournoi.place)



= form_tag tournaments_path, class: "form-inline", method: :get do
  .input-group.input-group-lg
    - if params[:query].present?
      .input-group-btn
        = link_to "clear", tournaments_path, class: 'btn btn-default'
    = text_field_tag :query, params[:query], class: 'form-control', :id => 'tournament_search', autocomplete: 'off',
     placeholder: 'place ex: Avenue Louise,...'
    .input-group-btn
      = submit_tag 'Search', class: 'btn btn-primary'
%br/
:javascript
  var places = #{@places}
  $(document).ready(function(){
    $('#tournament_search').typeahead({
      source: places,
      items: 5
    });
  });
%table.table.table-bordered.table-hover
  %thead
    %th Name
    %th Place
    %th Nb players max
    %th
    - if can? :update, @tournaments
      %th
    - if can? :destroy, @tournaments
      %th
  - @tournaments.each do |tournament|
    %tr
      %td= tournament.name
      %td= tournament.place
      %td= tournament.nb_players_max
      %td= link_to 'Show', tournament
      - if can? :update, @tournaments
        %td= link_to 'Edit', edit_tournament_path(tournament)
      - if can? :destroy, @tournaments
        %td= link_to 'Destroy', tournament, method: :delete, data: {confirm: 'Are you sure?'}
%br/
- if can? :create, @tournaments
  %p
    = link_to 'New Tournament', new_tournament_path
  %p
    = link_to 'Seed tournaments', seed_tournaments_path, method: :post
%p.text-center
  = paginate @tournaments