%h1 Listing tournaments
%table.table.table-bordered.table-hover
  %thead
    %th Name
    %th Place
    %th Nb players max
    %th
    - if can? :update, @tournaments
      %th
    - if can? :destroy, @tournaments
      %th
  - @tournaments.each do |tournament|
    %tr
      %td= tournament.name
      %td= tournament.place
      %td= tournament.nb_players_max
      %td= link_to 'Show', tournament
      - if can? :update, @tournaments
        %td= link_to 'Edit', edit_tournament_path(tournament)
      - if can? :destroy, @tournaments
        %td= link_to 'Destroy', tournament, method: :delete, data: {confirm: 'Are you sure?'}
%br/
- if can? :create, @tournaments
  %p
    = link_to 'New Tournament', new_tournament_path
  %p
    = link_to 'Seed tournaments', seed_tournaments_path, method: :post
%p.text-center
  = paginate @tournaments