%p#notice= notice
%p
  %b Name:
  = @tournament.name
%p
  %b Place:
  = @tournament.place
  = @tournament.to_coordinates
%p
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tournament.latitude}%2C#{@tournament.longitude}"

%p
  %b Nb players max:
  = @tournament.nb_players_max
- if can? :update, @tournament
  = link_to 'Add Games', show_games_path(@tournament.id)
  |
  = link_to 'Edit', edit_tournament_path(@tournament)
  |
= link_to 'Back', tournaments_path

= form_for @tournament, url: add_player_path, method: :post do |f|
  = f.hidden_field 'tournament_id', :value => @tournament.id
  = f.collection_select('games', @tournament.games, :id, :title, :prompt => 'select game')
  = f.submit 'Sign in'

- if @tournament.users.any?
  %ul.list-group
    - @tournament.users.each do |player|
      %li.list-group-item
        = player.pseudo
- else
  %p
    No players for this tournament.

- if @tournament.games.any?
  - @tournament.games.each do |game|
    %h2
      = game.title
    - if game.matches.any?
      %ul.list-group
        - game.matches.each do |match|
          - if match.player_1 != nil && match.player_2 != nil
            %li.list-group-item
              = link_to "#{User.find(match.player_1.id).pseudo} VS #{User.find(match.player_2.id).pseudo}", show_match_path(match.id)
          - else
            %p
              Too few players for a match
    - else
      %p
        No matches found for this game

- else
  %p
    No games for this tournament. A new game will be added rapidly.




