%p#notice= notice
%p
  %b Name:
  = @tournament.name
%p
  %b Place:
  = @tournament.place
  = @tournament.to_coordinates
%p
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tournament.latitude}%2C#{@tournament.longitude}"

%p
  %b Nb players max:
  = @tournament.nb_players_max
- if can? :update, @tournament
  = link_to 'Add Match', new_match_path(@tournament.id)
  |
  = link_to 'Add Games', show_games_path(@tournament.id)
  |
  = link_to 'Edit', edit_tournament_path(@tournament)
  |
= link_to 'Back', tournaments_path
- if @tournament.users.include?(@current_user)
  %p
    you're already signed in for this tournament
- else
  = form_for @tournament, url: add_player_path, method: :post do |f|
    = f.hidden_field 'tournament_id', :value => @tournament.id
    = f.submit 'Sign in'

= link_to 'Seed players', seed_players_path(@tournament.id), method: :post

- if @tournament.users.any?
  %ul.list-group
    - @tournament.users.each do |player|
      %li.list-group-item
        = player.pseudo
- else
  %p
    No players for this tournament.

- if @tournament.games.any?
  - @tournament.games.each do |game|
    %h2
      = game.title
      = link_to 'Sign in all players'
- else
  %p
    No games for this tournament. A new game will be added rapidly.




