<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tournament.name %>
</p>

<p>
  <b>Place:</b>
  <%= @tournament.place %>
</p>

<p>
  <b>Nb players max:</b>
  <%= @tournament.nb_players_max %>
</p>

<%= link_to 'Add Match', new_match_path(@tournament.id) %> |
<%= link_to 'Add Games', :show_games %> |
<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>

<%= form_for @tournament, url: add_player_path, method: :post do |f| %>
    <%= f.hidden_field 't_id', :value => @tournament.id %>
    <%= f.submit 'Sign in' %>
<% end %>


<%= render 'games' %>
<%= render 'players' %>
<%= render 'matches' %>
