%p#notice= notice
%p
  %b Name:
  = @tournament.name
%p
  %b Place:
  = @tournament.place
  = @tournament.to_coordinates
%p
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tournament.latitude}%2C#{@tournament.longitude}"

%p
  %b Nb players max:
  = @tournament.nb_players_max

- if can? :update, @tournament
  = link_to 'Add Games', show_games_path(@tournament.id)
  |
  = link_to 'Edit', edit_tournament_path(@tournament)
  |
= link_to 'Back', tournaments_path

- if @tournament.users.any?
  %ul.list-group
    - @tournament.users.each do |player|
      %li.list-group-item
        = player.pseudo
- else
  %p
    No players for this tournament.

- if @tournament.games.any?
  %ul.list-group
    - @tournament.games.each do |game|
      %h3
        = game.title
        - if @pending_players.exclude?(@current_player) && @tournament.matches.where("game_id = #{game.id}").empty?
          = form_for @tournament, url: add_player_path, method: :post, html: {:class => 'form-inline'}  do |f|
            = f.hidden_field 'tournament_id', :value => @tournament.id
            = f.hidden_field 'game_id', :value => game.id
            = f.submit 'Sign in', :class => 'btn btn-info'
        - if can? @tournament, :update
          - if @tournament.matches.where("game_id = #{game.id}").empty?
            = link_to 'Start Matches', start_matches_path(:t_id => @tournament.id, :g_id => game.id), :method => :post

      - if @pending_players.any? && @tournament.matches.where("game_id = #{game.id}").empty?
        %h4 Players subscribed
        %ul.list-group
          - @pending_players.each do |pend_player|
            - if pend_player.game_id == game.id
              %li.list-group-item
                = User.find(pend_player.player_id).pseudo
      - if @tournament.matches.where("game_id = #{game.id}").any?
        %ul.list-group
          - @tournament.matches.where("game_id = #{game.id}").each do |match|
            %li.list-group-item
              = link_to "#{match.player_1.pseudo} VS #{match.player_2.pseudo}", match_path(match)

- else
  %p
    No games for this tournament. A new game will be added rapidly.




