%p#notice= notice
%h1.page-header.text-center
  = @game.title

%h3.text-center Genre: #{@game.genre}

%p.jumbotron
  = @game.description

%p Your rating: #{ratings_for @game}

- if can? :update, @game
  = link_to 'Edit', edit_game_path(@game), :class => 'btn btn-warning'
=link_to 'Back', games_path, :class => 'btn btn-info'
