= form_for(@tournament_game) do |f|
  - if @tournament_game.errors.any?
    #error_explanation
      %h2
        = pluralize(@tournament_game.errors.count, "error")
        prohibited this tournament_game from being saved:
      %ul
        - @tournament_game.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :tournament_id
    %br/
    = f.number_field :tournament_id
  .field
    = f.label :game_id
    %br/
    = f.number_field :game_id
  .actions
    = f.submit
