%h1 Listing games for this tournament
%table.table.table-bordered.table-hover
  %tr
    %th Tournament
    %th Game
    %th
    %th
    %th
  - @tournament_games.each do |tournament_game|
    %tr
      %td= tournament_game.tournament_id
      %td= tournament_game.game_id
      %td= link_to 'Show', tournament_game
      %td= link_to 'Edit', edit_tournament_game_path(tournament_game)
      %td= link_to 'Destroy', tournament_game, method: :delete, data: { confirm: 'Are you sure?' }
