%h1.page-header.text-center Profile
%div.row
  %div.col-sm-2
    = image_tag @user.avatar_url if @user.avatar
  %div.col-sm-10
    %h2 #{@user.first_name} #{@user.last_name} (#{@user.pseudo})
%div.row
  %hr
%div.row
  %div.col-sm-3
    %p Email: #{@user.email}
  %div.col-sm-9
    %p Last connexion: #{@user.last_sign_in_at.to_datetime.to_formatted_s(:short)}

%p
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"
%h3
  Games played:
%ul.list-group
  - @user.games.each do |game|
    %li.list-group-item
      = game.title
      - if game.marked_as_favorite? :by => @user
        %span.glyphicon.glyphicon-star{:aria =>{:hidden => true}}
      - else
        = link_to add_to_favorites_path(game.id), :method => :post, :remote => true, :id => "fav-#{game.id}" do
          %span.glyphicon.glyphicon-star-empty{:aria => {:hidden => true}}
%a.btn.btn-info.btn-lg{:href => edit_user_registration_path} Edit your profile
