%h1 Your profile

%p
  %b Email:
  = @user.email

%p
  %b Avatar:
  = image_tag @user.avatar_url if @user.avatar

%p
  %b Name:
  = @user.first_name
  = @user.last_name

%p
  %b last connexion:
  = @user.last_sign_in_at.to_datetime.to_formatted_s(:short)

%p
  = image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}"
%h3
  Games played:
%ul.list-group
  - @user.games.each do |game|
    %li.list-group-item
      = game.title
%a.btn.btn-info.btn-lg{:href => edit_user_registration_path} Edit your profile
