<div class="form-group container-form">
  <%= form_for(@match) do |f| %>
      <% if @match.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

            <ul>
              <% @match.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.label :player_1 %>
      <%= f.select :player_1, User.all.collect { |user| [user.pseudo, user.id] }, {prompt: 'Select player 1'}, :class => 'form-control' %>

      <%= f.label :player_2 %>
      <%= f.select :player_2, User.all.collect { |user| [user.pseudo, user.id] }, {prompt: 'Select player 2'}, :class => 'form-control' %>

      <%= f.hidden_field 't_id', :value => @tournament.id %>
      <br/>
      <%= f.submit 'Create Match', :class => 'btn btn-primary' %>
  <% end %>
</div>
